#h1
{
	color: tomato;
}

.tableData
{
	width:50px;
	height:50px;
	border: solid 1px black;
	background-color: red;

}
.tabData
{
	width:50px;
	height:50px;
	border: solid 1px black;
	background-color: black;

}
#nestedTable
{
	border-spacing: 0;
	border-collapse: collapse;
}